<form [(formGroup)]="form" class="container mt-4" (ngSubmit)="submit()">

    <div class="custom-file">
        <input
            id="sourceInput"
            class="custom-file-input"
            type="file"
            [control]="form.controls.source"
            appFileInput
            (file)="file = $event"
        >
        <label for="sourceInput" class="custom-file-label">{{ form.value.source || 'Choose file' }}</label>
    </div>

    <div class="d-flex justify-content-center mt-4" *ngIf="showButtons">
        <button type="submit" class="btn btn-primary">{{buttonLabel}}</button>
        <button
            type="button"
            class="btn btn-secondary ml-3"
            *ngIf="downloadFile"
        >
            Donwload compiled file
        </button>
    </div>

    <app-controller></app-controller>
</form>
